html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: #101D2D;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 20px;
    gap: 10px;
    color: honeydew;
}

footer {
    color: honeydew;
}

#applicationTitle {
    font-size: 50px;
}

.headerButtons {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-right: 10px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: white;
}

.formBackground {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
}

.closeButton {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    transform: rotate(45deg);
    cursor: pointer;
}

.projectElement {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    font-size: 16px;
    gap: 10px;
    background-color: rgba(136, 135, 135, 0.541);
    border-radius: 20px;
    margin: 10px;
}

.projectTitle {
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.projectTasks {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
}

.taskElement {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 5px;
    text-align: center;
    background-color: rgb(237, 236, 240);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.taskTitle {
    font-size: 25px;
}